@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-mvCyPCrQ-Wv5_font-family: "Inter", sans-serif;
  --mixin-mvCyPCrQ-Wv5_font-size: 14px;
  --mixin-mvCyPCrQ-Wv5_font-weight: 400;
  --mixin-mvCyPCrQ-Wv5_font-style: normal;
  --mixin-mvCyPCrQ-Wv5_color: #535353;
  --mixin-mvCyPCrQ-Wv5_text-align: left;
  --mixin-mvCyPCrQ-Wv5_text-transform: none;
  --mixin-mvCyPCrQ-Wv5_line-height: 1.5;
  --mixin-mvCyPCrQ-Wv5_letter-spacing: normal;
  --mixin-mvCyPCrQ-Wv5_white-space: pre-wrap;
  --mixin-mvCyPCrQ-Wv5_user-select: text;
  --mixin-mvCyPCrQ-Wv5_text-decoration-line: none;
  --mixin-mvCyPCrQ-Wv5_text-overflow: clip;
  --mixin-LkTbuMgqjnSf_color: #000000;
  --mixin-LkTbuMgqjnSf_font-weight: 600;
  --mixin-LkTbuMgqjnSf_font-size: 40px;
  --mixin-LkTbuMgqjnSf_line-height: 1;
  --mixin-LkTbuMgqjnSf_letter-spacing: -1px;
  --mixin-LkTbuMgqjnSf_white-space: pre-wrap;
  --mixin-eJiVggaY_OX3_color: #000000;
  --mixin-eJiVggaY_OX3_font-size: 30px;
  --mixin-eJiVggaY_OX3_font-weight: 600;
  --mixin-eJiVggaY_OX3_line-height: 1.1;
  --mixin-eJiVggaY_OX3_white-space: pre-wrap;
  --mixin-puLMyI1Hw_hn_color: #0070f3;
  --mixin-puLMyI1Hw_hn_white-space: pre-wrap;
  --mixin-984d-IrrxeWr_color: #000000;
  --mixin-984d-IrrxeWr_font-size: 24px;
  --mixin-984d-IrrxeWr_font-weight: 600;
  --mixin-984d-IrrxeWr_line-height: 1.2;
  --mixin-984d-IrrxeWr_white-space: pre-wrap;
  --mixin-MS_v8KxerX9n_color: #000000;
  --mixin-MS_v8KxerX9n_font-size: 20px;
  --mixin-MS_v8KxerX9n_font-weight: 600;
  --mixin-MS_v8KxerX9n_line-height: 1.3;
  --mixin-MS_v8KxerX9n_white-space: pre-wrap;
  --mixin-TtOnmTB_JdPK_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-TtOnmTB_JdPK_border-bottom-color: #dddddd;
  --mixin-TtOnmTB_JdPK_border-bottom-style: solid;
  --mixin-TtOnmTB_JdPK_border-bottom-width: 1px;
  --mixin-TtOnmTB_JdPK_border-left-color: #dddddd;
  --mixin-TtOnmTB_JdPK_border-left-style: solid;
  --mixin-TtOnmTB_JdPK_border-left-width: 1px;
  --mixin-TtOnmTB_JdPK_border-right-color: #dddddd;
  --mixin-TtOnmTB_JdPK_border-right-style: solid;
  --mixin-TtOnmTB_JdPK_border-right-width: 1px;
  --mixin-TtOnmTB_JdPK_border-top-color: #dddddd;
  --mixin-TtOnmTB_JdPK_border-top-style: solid;
  --mixin-TtOnmTB_JdPK_border-top-width: 1px;
  --mixin-TtOnmTB_JdPK_border-bottom-left-radius: 3px;
  --mixin-TtOnmTB_JdPK_border-bottom-right-radius: 3px;
  --mixin-TtOnmTB_JdPK_border-top-left-radius: 3px;
  --mixin-TtOnmTB_JdPK_border-top-right-radius: 3px;
  --mixin-TtOnmTB_JdPK_font-family: "Inconsolata";
  --mixin-TtOnmTB_JdPK_padding-bottom: 1px;
  --mixin-TtOnmTB_JdPK_padding-left: 4px;
  --mixin-TtOnmTB_JdPK_padding-right: 4px;
  --mixin-TtOnmTB_JdPK_padding-top: 1px;
  --mixin-TtOnmTB_JdPK_white-space: pre-wrap;
  --mixin-MvcgLHXQftB2_border-left-color: #dddddd;
  --mixin-MvcgLHXQftB2_border-left-style: solid;
  --mixin-MvcgLHXQftB2_border-left-width: 3px;
  --mixin-MvcgLHXQftB2_color: #888888;
  --mixin-MvcgLHXQftB2_padding-left: 10px;
  --mixin-MvcgLHXQftB2_white-space: pre-wrap;
  --mixin-viB8hxCDSda6_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-viB8hxCDSda6_border-bottom-color: #dddddd;
  --mixin-viB8hxCDSda6_border-bottom-style: solid;
  --mixin-viB8hxCDSda6_border-bottom-width: 1px;
  --mixin-viB8hxCDSda6_border-left-color: #dddddd;
  --mixin-viB8hxCDSda6_border-left-style: solid;
  --mixin-viB8hxCDSda6_border-left-width: 1px;
  --mixin-viB8hxCDSda6_border-right-color: #dddddd;
  --mixin-viB8hxCDSda6_border-right-style: solid;
  --mixin-viB8hxCDSda6_border-right-width: 1px;
  --mixin-viB8hxCDSda6_border-top-color: #dddddd;
  --mixin-viB8hxCDSda6_border-top-style: solid;
  --mixin-viB8hxCDSda6_border-top-width: 1px;
  --mixin-viB8hxCDSda6_border-bottom-left-radius: 3px;
  --mixin-viB8hxCDSda6_border-bottom-right-radius: 3px;
  --mixin-viB8hxCDSda6_border-top-left-radius: 3px;
  --mixin-viB8hxCDSda6_border-top-right-radius: 3px;
  --mixin-viB8hxCDSda6_font-family: "Inconsolata";
  --mixin-viB8hxCDSda6_padding-bottom: 3px;
  --mixin-viB8hxCDSda6_padding-left: 6px;
  --mixin-viB8hxCDSda6_padding-right: 6px;
  --mixin-viB8hxCDSda6_padding-top: 3px;
  --mixin-viB8hxCDSda6_white-space: pre-wrap;
  --mixin-f453vqy_sGsr_display: flex;
  --mixin-f453vqy_sGsr_flex-direction: column;
  --mixin-f453vqy_sGsr_align-items: stretch;
  --mixin-f453vqy_sGsr_justify-content: flex-start;
  --mixin-f453vqy_sGsr_list-style-position: outside;
  --mixin-f453vqy_sGsr_padding-left: 40px;
  --mixin-f453vqy_sGsr_position: relative;
  --mixin-f453vqy_sGsr_list-style-type: disc;
  --mixin-f453vqy_sGsr_white-space: pre-wrap;
  --mixin-CMMsdgu5VFSL_display: flex;
  --mixin-CMMsdgu5VFSL_flex-direction: column;
  --mixin-CMMsdgu5VFSL_align-items: stretch;
  --mixin-CMMsdgu5VFSL_justify-content: flex-start;
  --mixin-CMMsdgu5VFSL_list-style-position: outside;
  --mixin-CMMsdgu5VFSL_padding-left: 40px;
  --mixin-CMMsdgu5VFSL_position: relative;
  --mixin-CMMsdgu5VFSL_list-style-type: decimal;
  --mixin-CMMsdgu5VFSL_white-space: pre-wrap;
  --mixin-vKeiGlx13pJq_color: #000000;
  --mixin-vKeiGlx13pJq_font-size: 16px;
  --mixin-vKeiGlx13pJq_font-weight: 600;
  --mixin-vKeiGlx13pJq_line-height: 1.5;
  --mixin-vKeiGlx13pJq_white-space: pre-wrap;
  --mixin-HiiXzZVKGKlR_color: #000000;
  --mixin-HiiXzZVKGKlR_font-size: 14px;
  --mixin-HiiXzZVKGKlR_font-weight: 600;
  --mixin-HiiXzZVKGKlR_line-height: 1.5;
  --mixin-HiiXzZVKGKlR_white-space: pre-wrap;
  --mixin-wT3YUCztUGX-_color: #3291ff;
  --mixin-wT3YUCztUGX-_white-space: pre-wrap;
  --mixin-t9YbKk9dKHU5_white-space: pre-wrap;
  --mixin-3gnT6xjA45Kv_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-aKt3VVxNL3b9_white-space: pre-wrap;
  --plasmic-mixin-saw_white-space: var(--mixin-aKt3VVxNL3b9_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-mvCyPCrQ-Wv5_font-family);
  font-size: var(--mixin-mvCyPCrQ-Wv5_font-size);
  font-weight: var(--mixin-mvCyPCrQ-Wv5_font-weight);
  font-style: var(--mixin-mvCyPCrQ-Wv5_font-style);
  color: var(--mixin-mvCyPCrQ-Wv5_color);
  text-align: var(--mixin-mvCyPCrQ-Wv5_text-align);
  text-transform: var(--mixin-mvCyPCrQ-Wv5_text-transform);
  line-height: var(--mixin-mvCyPCrQ-Wv5_line-height);
  letter-spacing: var(--mixin-mvCyPCrQ-Wv5_letter-spacing);
  white-space: var(--mixin-mvCyPCrQ-Wv5_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-LkTbuMgqjnSf_color);
  font-weight: var(--mixin-LkTbuMgqjnSf_font-weight);
  font-size: var(--mixin-LkTbuMgqjnSf_font-size);
  line-height: var(--mixin-LkTbuMgqjnSf_line-height);
  letter-spacing: var(--mixin-LkTbuMgqjnSf_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-eJiVggaY_OX3_color);
  font-size: var(--mixin-eJiVggaY_OX3_font-size);
  font-weight: var(--mixin-eJiVggaY_OX3_font-weight);
  line-height: var(--mixin-eJiVggaY_OX3_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-puLMyI1Hw_hn_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-984d-IrrxeWr_color);
  font-size: var(--mixin-984d-IrrxeWr_font-size);
  font-weight: var(--mixin-984d-IrrxeWr_font-weight);
  line-height: var(--mixin-984d-IrrxeWr_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-MS_v8KxerX9n_color);
  font-size: var(--mixin-MS_v8KxerX9n_font-size);
  font-weight: var(--mixin-MS_v8KxerX9n_font-weight);
  line-height: var(--mixin-MS_v8KxerX9n_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-TtOnmTB_JdPK_font-family);
  border-radius: var(--mixin-TtOnmTB_JdPK_border-top-left-radius)
    var(--mixin-TtOnmTB_JdPK_border-top-right-radius)
    var(--mixin-TtOnmTB_JdPK_border-bottom-right-radius)
    var(--mixin-TtOnmTB_JdPK_border-bottom-left-radius);
  padding: var(--mixin-TtOnmTB_JdPK_padding-top)
    var(--mixin-TtOnmTB_JdPK_padding-right)
    var(--mixin-TtOnmTB_JdPK_padding-bottom)
    var(--mixin-TtOnmTB_JdPK_padding-left);
  border-top: var(--mixin-TtOnmTB_JdPK_border-top-width)
    var(--mixin-TtOnmTB_JdPK_border-top-style)
    var(--mixin-TtOnmTB_JdPK_border-top-color);
  border-right: var(--mixin-TtOnmTB_JdPK_border-right-width)
    var(--mixin-TtOnmTB_JdPK_border-right-style)
    var(--mixin-TtOnmTB_JdPK_border-right-color);
  border-bottom: var(--mixin-TtOnmTB_JdPK_border-bottom-width)
    var(--mixin-TtOnmTB_JdPK_border-bottom-style)
    var(--mixin-TtOnmTB_JdPK_border-bottom-color);
  border-left: var(--mixin-TtOnmTB_JdPK_border-left-width)
    var(--mixin-TtOnmTB_JdPK_border-left-style)
    var(--mixin-TtOnmTB_JdPK_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-MvcgLHXQftB2_color);
  padding-left: var(--mixin-MvcgLHXQftB2_padding-left);
  border-left: var(--mixin-MvcgLHXQftB2_border-left-width)
    var(--mixin-MvcgLHXQftB2_border-left-style)
    var(--mixin-MvcgLHXQftB2_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-viB8hxCDSda6_font-family);
  border-radius: var(--mixin-viB8hxCDSda6_border-top-left-radius)
    var(--mixin-viB8hxCDSda6_border-top-right-radius)
    var(--mixin-viB8hxCDSda6_border-bottom-right-radius)
    var(--mixin-viB8hxCDSda6_border-bottom-left-radius);
  padding: var(--mixin-viB8hxCDSda6_padding-top)
    var(--mixin-viB8hxCDSda6_padding-right)
    var(--mixin-viB8hxCDSda6_padding-bottom)
    var(--mixin-viB8hxCDSda6_padding-left);
  border-top: var(--mixin-viB8hxCDSda6_border-top-width)
    var(--mixin-viB8hxCDSda6_border-top-style)
    var(--mixin-viB8hxCDSda6_border-top-color);
  border-right: var(--mixin-viB8hxCDSda6_border-right-width)
    var(--mixin-viB8hxCDSda6_border-right-style)
    var(--mixin-viB8hxCDSda6_border-right-color);
  border-bottom: var(--mixin-viB8hxCDSda6_border-bottom-width)
    var(--mixin-viB8hxCDSda6_border-bottom-style)
    var(--mixin-viB8hxCDSda6_border-bottom-color);
  border-left: var(--mixin-viB8hxCDSda6_border-left-width)
    var(--mixin-viB8hxCDSda6_border-left-style)
    var(--mixin-viB8hxCDSda6_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-f453vqy_sGsr_display);
  flex-direction: var(--mixin-f453vqy_sGsr_flex-direction);
  align-items: var(--mixin-f453vqy_sGsr_align-items);
  justify-content: var(--mixin-f453vqy_sGsr_justify-content);
  list-style-position: var(--mixin-f453vqy_sGsr_list-style-position);
  padding-left: var(--mixin-f453vqy_sGsr_padding-left);
  position: var(--mixin-f453vqy_sGsr_position);
  list-style-type: var(--mixin-f453vqy_sGsr_list-style-type);
  flex-column-gap: var(--mixin-f453vqy_sGsr_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-CMMsdgu5VFSL_display);
  flex-direction: var(--mixin-CMMsdgu5VFSL_flex-direction);
  align-items: var(--mixin-CMMsdgu5VFSL_align-items);
  justify-content: var(--mixin-CMMsdgu5VFSL_justify-content);
  list-style-position: var(--mixin-CMMsdgu5VFSL_list-style-position);
  padding-left: var(--mixin-CMMsdgu5VFSL_padding-left);
  position: var(--mixin-CMMsdgu5VFSL_position);
  list-style-type: var(--mixin-CMMsdgu5VFSL_list-style-type);
  flex-column-gap: var(--mixin-CMMsdgu5VFSL_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-vKeiGlx13pJq_color);
  font-size: var(--mixin-vKeiGlx13pJq_font-size);
  font-weight: var(--mixin-vKeiGlx13pJq_font-weight);
  line-height: var(--mixin-vKeiGlx13pJq_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-HiiXzZVKGKlR_color);
  font-size: var(--mixin-HiiXzZVKGKlR_font-size);
  font-weight: var(--mixin-HiiXzZVKGKlR_font-weight);
  line-height: var(--mixin-HiiXzZVKGKlR_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-wT3YUCztUGX-_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
